# Customer Churn Likelihood

### I am going to use Pearson correlation coefficient between customer attributes and their likelihood to churn,we need to work with numerical data only.

#### Let us import the dataset and have a look at it

In [1]:
#import the required libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
#Load the dataset
url = r'C:\Users\NAA\Desktop\machine learning\telco_churn.csv'
df = pd.read_csv(url)

In [3]:
#check the first 5 
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
#check overall data
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [7]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [6]:
#Convert 'Churn' column values 
df['Churn'] = df['Churn'].map({'Yes':1, 'No': 0})
print(df['Churn'])

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: Churn, Length: 7043, dtype: int64

In [8]:
#Encode Categorical Values using Label Encoder or get_dummies
le = LabelEncoder()
#Binary Columns Yes/No
binary_cols = ['PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling']
for col in binary_cols:
    df[col] = le.fit_transform(df[col])
#One-hot encode multi-category columns (like InternetServices and Payment Method)
df = pd.get_dummies(df,columns=['InternetService','PaymentMethod','Contract'], drop_first=True)

In [9]:
df['TotalCharges'].isnull().sum()

0

In [11]:
#Handle 'TotalCharges' as a numeric column
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

In [12]:
#Select the numercal columns to compute the correlations
numerical_columns = ['tenure','MonthlyCharges','TotalCharges','TotalCharges']
correlation_matrix = df[numerical_columns + ['Churn']].corr()

In [13]:
#Display the pearson correlation coefficients with churn
churn_correlation = correlation_matrix['Churn'].sort_values(ascending=False)
print(churn_correlation)

Churn             1.000000
MonthlyCharges    0.193356
TotalCharges     -0.199484
TotalCharges     -0.199484
tenure           -0.352229
Name: Churn, dtype: float64